@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

*{
    
    background-color: #e0e0e0;
    font-family: Outfit;
    /*outline: 0.5px solid red;*/
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  :-webkit-scrollbar{
    display: none;
  }

  @media(max-width:640px){
    a.active{
        background-color: black;
        color: #e0e0e0;
    }
  }
  

  .cart-icon {
    transition: transform 0.5s ease-in-out; /* Transición para el movimiento */
  }
  
  .cart-icon.animate {
    transform: scale(1.2) translateY(-5px); /* Agranda la imagen y la mueve un poco hacia arriba */
  }
  
