@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Puntos de navegación (dots) */
.slick-dots {
  position: absolute;
  bottom: 20px; /* Coloca los puntos 20px desde el fondo de la imagen */
  left: 50%;
  transform: translateX(-50%); /* Centra los puntos horizontalmente */
  z-index: 20; /* Asegura que los puntos estén por encima de las imágenes */
  padding: 0;
  background: transparent; /* Hace que el fondo de los puntos sea transparente */
}

.slick-dots li button:before {
  font-size: 12px; /* Tamaño de los puntos */
  color: rgba(255, 255, 255, 0.7); /* Puntos transparentes con algo de opacidad */
  background: transparent; /* Fondo transparente en los puntos */
}

.slick-dots li.slick-active button:before {
  color: rgba(255, 255, 255, 1); /* Cambiar el color del punto activo */
}

/* Personalizar los botones prev y next */
.slick-prev, .slick-next {
  top: 50%;
  transform: translateY(-50%);
  color: white; /* Color de la flecha */
  border-radius: 50%;
  padding: 10px;
  z-index: 10; /* Asegura que los botones estén por encima de las imágenes */
}

.slick-prev {
  left: 10px; /* Ajusta la posición del botón "prev" */
}

.slick-next {
  right: 10px; /* Ajusta la posición del botón "next" */
}

a.active hr{
    display: block;
}

*{
    outline: 1px solid red;
    font-family: Outfit;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
  }

  

  @media(max-width:640px){
    a.active{
        color: #e0e0e0;
    }
  }
  

  .cart-icon {
    transition: transform 0.5s ease-in-out; /* Transición para el movimiento */
  }
  
  .cart-icon.animate {
    transform: scale(3) translateY(-5px); /* Agranda la imagen y la mueve un poco hacia arriba */
  }
  
